.home-container {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://i.pinimg.com/736x/d7/8a/f6/d78af6637fbb80facccaac0af11a3d9f.jpg') no-repeat center center;
  background-size: cover;
  animation: backgroundAnimation 20s infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    background-position: center;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: center;
  }
}

.content-box {
  background: rgba(255, 255, 255, 0.75);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40rem;
  text-align: center;
}

.order-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #0056b3;
}